:root {    /*cách định nghĩa biến trong CSS*/
    --web1-pink: #FA97C2; /*-- la cach dinh nghia bien*/
    --web1-blue: #2FA0D5;
    --web1-green: #73C926;
}

body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Changa One', cursive;
    font-weight: 400;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
}

/*Header*/
#menu-header a{
    display: block;
    padding: 0 1.25rem;
    font-weight: bold;
    color:black;
    font-family: 'Changa One', cursive;
}

/*lấy ra giá trị biến bằng hàm var*/
#menu-header li a.active{
    color: var(--web1-blue);
}

#form-search input{
    width: 8rem;
}

#form-search i{
    color:var(--web1-green);
}

/*banner*/
#banner{
    background-image:url('../images/bg-banner.gif')
}

#banner > div{
    background: url('../images/logo_bg.png') left top no-repeat, url('../images/search_bg.png') right top no-repeat;
    padding: 5rem 0 3rem 0;
}

#banner a{
    background-color: var(--web1-pink);
    font-family: 'Changa One', cursive;
    font-size: 2rem;
}

#banner .carousel-item {
    min-height: 15rem;
}

#banner .carousel-indicators button{
    width : 1.2rem; /*width height giong nhau -> hinh vuong*/
    height: 1.2rem;
    border-radius: 1.2rem; /*mac dinh bo tron*/
    border: none;
    margin: 0 0.25rem;
    position: relative; /* để căn vị trí cho span*/
}


#banner .carousel-indicators button span{
    position: absolute; /*chính giữa li*/
    top: 0.3rem;
    left: 0.3rem;
    width: 0.6rem;  /*nửa hình tròn vòng ngoài*/
    height: 0.6rem;
    border-radius: 0.6rem;
    border: none;
    text-align:left;
    text-indent: -9999px
}

#banner .carousel-indicators button.active span{
    background-color: var(--web1-green);
}

#banner ol.carousel-indicators{
    list-style-type:none;
}

#banner-small{
    background-image: url('../images/bg-banner.gif');
    padding: 5px;
    
}

/* Products */

.readmore{
    color: var(--web1-blue);
    margin-top: -3px;
}

.web1-text-blue{
    color: var(--web1-blue);
}

/* About us */
#aboutus{
    background-color: var(--web1-pink)
}

#about-us h4{
color:black;
}


#formSignUp{
    border-style: dashed !important;
    border-color: rgb(0, 0, 0, 0.5) !important;
}

#news .date{
    background-color: var(--web1-green);
    width:6rem;
    padding:1.5rem;
}

/* footer */
footer {
    background-image: url('../images/bg-footer.gif');
}

#menu-footer a{
    color:white;
    font-weight:bold;
    font-family:'Changa One', cursive;
    display: block;
    padding: 0.5rem 2rem
}

#menu-footer a.active{
    color: var(--web1-pink)
}


/*Modal Login*/
#formLogin button[type='submit']{
    background-color: var(--web1-blue);
    color:white;
}


/*Testimonials*/
#testimonials{
    background-color: var(--web1-pink);
}

#testimonials .col{
    background: url('../images/quot.png') left top no-repeat;
    padding: 0 0 0 3rem;
}

/* Blogs */
#blogs-categories li{
    list-style-type: none;
    background: url('../images/marker1.png') 0 0.25rem no-repeat;
    padding: 0 0 0.5rem 1.5rem;
}

/* contacts */
#map {
    height:400px;
    width: 100%;
}

.btn-primary {
    background-color: var(--web1-blue) !important;
    border:none;
}