<div class="container overflow-auto">
    {{#each data}}
    <h1 class="py-3">{{name}}</h1>
    <img src="{{imagepath}}" alt="{{name}}" class="float-start rounded-4 me-3">
    <p>{{{description}}}</p>
    {{/each}}
</div>