<div class="container">
    <h1 class="text-white pt-5">Testimonials</h1>
    <div class="row py-3">
        {{#each data}}
        <div class="col">
            <div class="text-black-50">{{summary}}</div>
            <span class="text-white">{{name}}</span><br>
            <a href="#">{{email}}</a>
        </div>
        {{/each}}
    </div>
</div>