            {{#each data}}
            <h1>{{name}}</h1>
            {{#if imagepath}}
            <img src="{{imagepath}}" alt="{{name}}" class="float-start me-3">
            {{/if}}
            <div class="text-black-50">{{{description}}}</div>
            {{/each}}